<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
  lang="en-GB" xml:lang="en-GB">
  <head>
  <meta http-equiv='Content-Type' content='text/html; charset=utf-8' />
  <title>Blueprints Database</title>
  <!--	<link rel='stylesheet' type='text/css' href='css/styles.css' />
  	<link rel='stylesheet' type='text/css' href='css/style_about.css' />
  -->
  <style type="text/css" media="screen">
    @import url('css/styles.css');
    @import url('css/style_about.css');
  </style>
  	<script src='https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js'></script>
    <script type='text/javascript' src='js/main_jquery.js'></script>
    <link rel="icon" type="image/png" href="http://www.iconpng.com/png/stickers/database.png" />
  	
  </head>
  <body>
  <div id="content" >
    <nav>
      <ul>
        <li>
          <a id="home_button" href="home.html"><img id="home_image" src="images/home_icon.svg" alt=""/></a></li>
        <li><a href="#">Projects</a>
          <ul>
            <li><a href="commercial.html">Commercial buildings</a></li>
            <li><a href="residential.html">Residential buildings</a></li>
            <li><a href="educational.html">Educational buildings</a></li>
          </ul>
        </li>
        <li><a href="upload.html">Upload</a>
          <ul>
            <li><a href="upload.html">Upload Project</a></li>
            <li><a href="faq.html">FAQ</a></li>
          </ul>
        </li>
        <li><a href="#">About</a></li>
        <li><a href="feedback.html">Feedback</a></li>
        <%if (login ) { %>
        <li><a href="logout">Log Out</a>
          <ul>
            <li><a href="profile">Profile</a></li>
          </ul>
        <%  } else { %>
        <li><a href="login">Sign In</a>
          <ul>
            <li><a href="signup">Sign Up</a>
            <li><a href="profile">Profile</a></li>
          </ul>
        <% } %>
        </li>
      </ul>
    </nav>
    <!--
    <map name="link_map">
      <area shape="rect" coords="0,0,50,50" href="sun.html" alt="Sun">
      <area shape="rect" coords="60,60,100,100" href="http://www.linkedin.com/in/alexandrugabrieldumitrescu" alt="Mercury">
      <area shape="rect" coords="110,110,150,150" href="home.html" alt="Venus">
    </map>  

    <img scr="../images/transparent.png" usemap="#link_map">
    -->

  
   
    </div>
   
		
	</body>
</html>