<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
  lang="en-GB" xml:lang="en-GB">
	<head>
	<meta http-equiv='Content-Type' content='text/html; charset=utf-8' />
	<title>Blueprints Database</title>
	<!--<link type='text/css' rel='stylesheet' href='css/styles.css' />-->
	<style type="text/css" media="screen">
		@import url('css/styles.css');
	</style>
	<script src='https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js'></script>
	<script type='text/javascript' src='js/main_jquery.js'></script>
	<link rel="icon" type="image/png" href="http://www.iconpng.com/png/stickers/database.png" />
	
</head>
	<body >
		<!--header start-->
		<div id='header'>
		</div>
		<!--header end-->
		
		<!--menu start-->
		<!--menu end-->
		
		<!--content start-->
		<div id = "content">

			<nav>
				<ul>
					<li><a id="home_button" href="home.html"><img id="home_image" src="images/home_icon.svg" alt=""/></a></li>
					<li><a href="#">Projects</a>
						<ul>
							<li><a href="commercial.html">Commercial buildings</a></li>
							<li><a href="residential.html">Residential buildings</a></li>
							<li><a href="educational.html">Educational buildings</a></li>
						</ul>
					</li>
					<li><a href="upload.html">Upload</a>
						<ul>
							<li><a href="upload.html">Upload Project</a></li>
							<li><a href="#">FAQ</a></li>
						</ul>
					</li>
					<li><a href="about.html">About</a></li>
					<%if (login ) { %>
					<li><a href="logout">Log Out</a>
						<ul>
							<li><a href="profile">Profile</a></li>
						</ul>
					<%  } else { %>
					<li><a href="login">Sign In</a>
						<ul>
							<li><a href="signup">Sign Up</a>
							<li><a href="profile">Profile</a></li>
						</ul>
					<% } %>
					</li>
				</ul>
			</nav>

			<h1 id="faq-title">FAQ - Frequently asked questions</h1>
			<ul id="questions">
				
				<li id="Q1" class="question">
					<em>Morbi dignissim est sed nibh sodales pharetra?</em>
					<div id="Q1_answer" class="answer">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sed metus a mauris suscipit luctus. Vivamus quam nunc, hendrerit eget ultricies ut, tempus sit amet nisi. Duis ornare sapien sit amet neque luctus, ut posuere enim posuere. Integer dui nulla, elementum id ante dictum, cursus sagittis metus. Etiam feugiat fringilla justo, ut rhoncus mi interdum sit amet. Nunc aliquam turpis nec facilisis ullamcorper. Duis pretium nec mauris id dignissim.

						Pellentesque lectus nisl, eleifend ut nibh eget, vulputate aliquam elit. Duis id est tristique, consequat dui vel, sagittis velit. Pellentesque magna tortor, tempor in consectetur et, aliquet vitae sapien. Quisque sed urna vel nunc tempor convallis in sed magna. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Curabitur non metus a augue tempor viverra ut quis leo. Curabitur egestas ante at ultrices ullamcorper.
					</div>
				</li>
				<li id="Q2" class="question">
					<em>Curabitur egestas ante at ultrices ullamcorper?</em>
					<div id="Q2_answer" class="answer">
						Mauris vitae condimentum elit. Maecenas vel adipiscing nibh. Interdum et malesuada fames ac ante ipsum primis in faucibus. Aliquam blandit eleifend vestibulum. Morbi congue dui mi, id bibendum quam tempor eget. Morbi dignissim est sed nibh sodales pharetra. Praesent lacus lacus, luctus vel elit vitae, ullamcorper sagittis metus. Suspendisse tincidunt risus id tellus mollis porttitor vitae at sem. Ut facilisis justo in lacus faucibus, eget ornare lorem fermentum.
					</div>
				</li>
				<li id="Q3" class="question">
					<em>Commodo risus sit amet, vehicula leo?</em>
					<div id="Q3_answer" class="answer">
						Fusce eu odio lacinia, accumsan nibh sed, faucibus metus. In feugiat lectus eget felis auctor, sit amet convallis neque bibendum. Mauris non nibh molestie, commodo risus sit amet, vehicula leo. Morbi sagittis, erat ac viverra vulputate, nibh elit volutpat odio, sit amet lacinia est nulla a ligula. Cras interdum, elit nec egestas vulputate, mi ante elementum elit, quis aliquet orci ante in mauris. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Morbi ultricies blandit orci. Vivamus eu feugiat risus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Integer quis arcu diam. Praesent suscipit ligula a consectetur placerat. Nam ut gravida lorem, sed luctus odio. Proin eget nulla at risus dapibus viverra. Mauris pulvinar vitae nisl scelerisque blandit. Maecenas fringilla nulla non ante eleifend, sed dignissim leo convallis.
					</div>
				</li>
			</ul>
		</div>
		<!--content end-->

		<!--footer start-->
		<div id='footer'>
			<div id="column_left">
				<h3>Links</h3>				
				<a href="gallery.html">Gallery</a><br/>
				<a href="parallaxing.html">Parallaxing</a><br/>
				<a href="report.html">Report</a><br/>
				<a href="resources.html">Resources</a><br/>
			</div>
			<div id="column_middle">
				<h3>See also...</h3>
				<a href="http://www.facebook.com"><img class="icon" src="http://www.cnib.ca/en/about/PublishingImages/Facebook.png" alt=""/>Facebook</a><br/>
				<a href="http://www.linkedin.com"><img class="icon" src="http://www.apse.org/images/li.png" alt=""/>LinkedIn</a><br/>
			</div>
			<div id="column_right">
				<h3>Contact</h3>
				<img class="icon" src="images/email.svg" alt=""/> example@example.com<br/>
				<img class="icon" src="images/phone.svg" alt=""/> +44 0769 698 790<br/>
			</div>
		</div>
		<div id="copyright">
			Copyright &#169; 2014 Alexandru Dumitrescu
		</div> 
		<!--footer end-->

</body>
</html>