<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
  lang="en-GB" xml:lang="en-GB">
	<head>
		<meta charset="UTF-8"/>
		<title>Blueprints Database</title>
		<link rel='stylesheet' type='text/css' href='css/style_index.css' />
		<script src='https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js'></script>
		<script type='text/javascript' src='js/index_jquery.js'></script>
		<link rel="icon" type="image/png" href="http://www.iconpng.com/png/stickers/database.png" />
	</head>

	<body>
		<div id="black_line">
			<div id="button_enter">
				<a href="redirect.html">Enter</a>
			</div>
		</div>
	</body>
</html>