<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
  lang="en-GB" xml:lang="en-GB">
	<head style="height:100%">
	<meta http-equiv='Content-Type' content='text/html; charset=utf-8' />
	<title>Blueprints Database</title>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="js/three.min.js"></script>
  <script src="js/OrbitControls.js"></script>
  
</head>
<body  style="height:100%;overflow: hidden; margin:0;">

<div id="container"></div>

<script src="js/webgl_models.js"></script>
</body>
</html>
