<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
  lang="en-GB" xml:lang="en-GB">
	<head>
		<meta charset="UTF-8"/>
		<!--<meta http-equiv="refresh" content="2;url=home.html"/>-->
		<title>Blueprints Database</title>
		<link rel='stylesheet' type='text/css' href='css/style_redirect.css' />
		<script src='https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js'></script>
		<script type='text/javascript' src='js/redirect_jquery.js'></script>
		<link rel="icon" type="image/png" href="http://www.iconpng.com/png/stickers/database.png" />
	</head>

	<body>
	</body>
</html>