<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
  lang="en-GB" xml:lang="en-GB">
	<head>
	<meta http-equiv='Content-Type' content='text/html; charset=utf-8' />
	<title>Blueprints Database</title>
	<style type="text/css" media="screen">
			@import url('css/styles.css');
	</style>
	<link href="http://www.iconpng.com/png/stickers/database.png"  rel="icon" type="image/png" media="all"/>
	
	<script src="js/jquery-1.11.0.min.js" type="text/javascript"></script>
	<script src="js/betterinnerhtml.js" type="text/javascript"></script>
	<!--<script src='https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js'></script>-->
	<script type='text/javascript' src='js/main_jquery.js'></script>

	</head>

<body>
	<div id='header'>
	</div>

	<div id="content">
		<div id="report">
			<a id="home_button_report" href="home.html"><img id="home_image" src="images/home_icon.svg" alt=""/></a>
			<h1>Client Resources</h1>
			<a href="http://www.elevateweb.co.uk/">http://www.elevateweb.co.uk/</a><br/>
			<a href="http://www.queness.com/post/10670/creative-drawings-about-talking">http://www.queness.com/post/10670/creative-drawings-about-talking</a><br/>
			<a href="http://www.kriesi.at/archives/50-websites-that-make-amazing-use-of-javascript">http://www.kriesi.at/archives/50-websites-that-make-amazing-use-of-javascript</a><br/>
			<a href="http://line25.com/tutorials/how-to-create-a-pure-css-dropdown-menu">http://line25.com/tutorials/how-to-create-a-pure-css-dropdown-menu</a><br/>
			<a href="http://zeospot.com/wp-content/uploads/2011/01/south-west-site-plan-architecture-design.jpg">http://zeospot.com/wp-content/uploads/2011/01/south-west-site-plan-architecture-design.jpg</a><br/>
			<a href="http://blog.teamtreehouse.com/the-beginners-guide-to-three-js">http://blog.teamtreehouse.com/the-beginners-guide-to-three-js</a><br/>
			<a href="http://www.ampercent.com/projects/du/">http://www.ampercent.com/projects/du/</a><br/>
			<a href="http://smoothdivscroll.com/">http://smoothdivscroll.com/</a><br/>
			<a href="https://github.com/mrdoob/three.js/blob/master/utils/converters/obj/convert_obj_three.py">https://github.com/mrdoob/three.js/blob/master/utils/converters/obj/convert_obj_three.py</a><br/>
			<a href="http://tf3dm.com/">http://tf3dm.com/</a><br/>
			<a href="http://blog.fraser-hart.co.uk/jquery-parallax-scrolling/">http://blog.fraser-hart.co.uk/jquery-parallax-scrolling/</a><br/>
			<a href="https://github.com/fraserhart/jQueryCoverflowSlider">https://github.com/fraserhart/jQueryCoverflowSlider</a><br/>
			<a href="http://www.photoshopessentials.com/photoshop-text/text-effects/light-burst/">http://www.photoshopessentials.com/photoshop-text/text-effects/light-burst/</a><br/>

			<h1>Server Resources</h1>
			<a href="http://docs.mongolab.com/">http://docs.mongolab.com/</a><br/>
			<a href="http://shapeshed.com/creating-a-basic-site-with-node-and-express/">http://shapeshed.com/creating-a-basic-site-with-node-and-express/</a><br/>
			<a href="http://blog.nodeknockout.com/post/34641712180/sending-email-from-node-js">http://blog.nodeknockout.com/post/34641712180/sending-email-from-node-js</a><br/>
			<a href="http://expressjs.com/3x/api.html">http://expressjs.com/3x/api.html</a><br/>
			<a href="https://github.com/scotch-io/easy-node-authentication/tree/local">https://github.com/scotch-io/easy-node-authentication/tree/local</a><br/>
			<a href="http://howtonode.org/really-simple-file-uploads">http://howtonode.org/really-simple-file-uploads</a><br/>

		</div>
	</div>

	<!--footer start-->
		<div id='footer'>
			<div id="column_left">
				<h3>Links</h3>				
				<a href="gallery.html">Gallery</a><br/>
				<a href="parallaxing.html">Parallaxing</a><br/>
				<a href="report.html">Report</a><br/>
				<a href="resources.html">Resources</a><br/>
			</div>
			<div id="column_middle">
				<h3>See also...</h3>
				<a href="http://www.facebook.com"><img class="icon" src="http://www.cnib.ca/en/about/PublishingImages/Facebook.png" alt=""/>Facebook</a><br/>
				<a href="http://www.linkedin.com"><img class="icon" src="http://www.apse.org/images/li.png" alt=""/>LinkedIn</a><br/>
			</div>
			<div id="column_right">
				<h3>Contact</h3>
				<img class="icon" src="images/email.svg" alt=""/> example@example.com<br/>
				<img class="icon" src="images/phone.svg" alt=""/> +44 0769 698 790<br/>
			</div>
		</div>
		<div id="copyright">
			Copyright &#169; 2014 Alexandru Dumitrescu
		</div> 
		<!--footer end-->
	
</body>
</html>