<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
  lang="en-GB" xml:lang="en-GB">
	<head>
	<meta http-equiv='Content-Type' content='text/html; charset=utf-8' />
	<title>Blueprints Database</title>
	<!--<link type='text/css' rel='stylesheet' href='css/styles.css' />-->
	<style type="text/css" media="screen">
		@import url('css/styles.css');
	</style>
	<script src='https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js'></script>
	<script type='text/javascript' src='js/main_jquery.js'></script>
	<link rel="icon" type="image/png" href="http://www.iconpng.com/png/stickers/database.png" />
	
</head>
	<body >
		<!--header start-->
		<div id='header'>
		</div>
		<!--header end-->
		
		<!--menu start-->
		<!--menu end-->
		
		<!--content start-->
		<div id = "content">

			<nav>
				<ul>
					<li><a id="home_button" href="home.html"><img id="home_image" src="images/home_icon.svg" alt=""/></a></li>
					<li><a href="#">Projects</a>
						<ul>
							<li><a href="commercial.html">Commercial buildings</a></li>
							<li><a href="residential.html">Residential buildings</a></li>
							<li><a href="educational.html">Educational buildings</a></li>
						</ul>
					</li>
					<li><a href="upload.html">Upload</a>
						<ul>
							<li><a href="#">Upload Project</a></li>
							<li><a href="faq.html">FAQ</a></li>
						</ul>
					</li>
					<li><a href="about.html">About</a></li>
					<li><a href="feedback.html">Feedback</a></li>
					<%if (login ) { %>
					<li><a href="logout">Log Out</a>
						<ul>
							<li><a href="profile">Profile</a></li>
						</ul>
					<%  } else { %>
					<li><a href="login">Sign In</a>
						<ul>
							<li><a href="signup">Sign Up</a>
							<li><a href="profile">Profile</a></li>
						</ul>
					<% } %>
					</li>
				</ul>
			</nav>

			<div class="box">
				<h1>Project Uploader</h1>
				<form action="/upload_file" id="contact-form2" method="POST" enctype="multipart/form-data">
        
				<label><span class="text-form">Project name*: </span><input type="text" name="project_name"></label>
				<label><span class="text-form">Price: </span><input type="text" name="project_price"></label>
				<label><span class="text-form">Contact: </span><input type="text" name="contact"></label>
				<label><span class="text-form">Info: </span><input type="text" name="project_info"></label>
				<label><span class="text-form">Levels: </span><input type="text" name="project_levels"></label>
				<label><span class="text-form">Category: </span><select name="project_category">
				<option value="1">Commercial</option>
				<option value="2">Residential</option>
				<option value="3">Educational</option>
				</select></label>
				Blueprint*: <input class="styled-button-11" type="file" name="file" /><br/>
				3D Model: <input class="styled-button-11" type="file" name="model" />
				<input type="submit" class="styled-button-11" value="Send the project!" /><br/>
				*required
				<input style="display:none" type="text" name="dest" value="shared" />
				</form>

			</div>

		</div>
		<!--content end-->

		<!--footer start-->
		<div id='footer'>
			<div id="column_left">
				<h3>Links</h3>				
				<a href="gallery.html">Gallery</a><br/>
				<a href="parallaxing.html">Parallaxing</a><br/>
				<a href="report.html">Report</a><br/>
				<a href="resources.html">Resources</a><br/>
			</div>
			<div id="column_middle">
				<h3>See also...</h3>
				<a href="http://www.facebook.com"><img class="icon" src="http://www.cnib.ca/en/about/PublishingImages/Facebook.png" alt=""/>Facebook</a><br/>
				<a href="http://www.linkedin.com"><img class="icon" src="http://www.apse.org/images/li.png" alt=""/>LinkedIn</a><br/>
			</div>
			<div id="column_right">
				<h3>Contact</h3>
				<img class="icon" src="images/email.svg" alt=""/> example@example.com<br/>
				<img class="icon" src="images/phone.svg" alt=""/> +44 0769 698 790<br/>
			</div>
		</div>
		<div id="copyright">
			Copyright &#169; 2014 Alexandru Dumitrescu
		</div> 
		<!--footer end-->
		

</body>
</html>